In [58]:
import pandas as pd
import numpy as np
df = pd.read_csv('311_Service_Requests_2020.csv')
df1 = df[df['Incident Zip'] == 10025] #是否要转换Incident Zip格式

/Users/luzimin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [59]:
df1.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [60]:
df2=pd.DataFrame(df1,columns = ['Unique Key','Complaint Type'])
df2

         Unique Key              Complaint Type
11         45278238         Noise - Residential
141        45278928         Noise - Residential
463        45282069         Noise - Residential
979        45286989  For Hire Vehicle Complaint
1166       45287132              HEAT/HOT WATER
...             ...                         ...
2586233    48532983              HEAT/HOT WATER
2586442    48531180         Noise - Residential
2586758    48535864                      Rodent
2586833    48532767         Noise - Residential
2586908    48533796         Noise - Residential

[20978 rows x 2 columns]

In [61]:
df1.groupby("Complaint Type",as_index = True).agg('count')
df1.groupby("Complaint Type",as_index = True).size()
df2.groupby("Complaint Type",as_index = True).agg('count').sort_values(by="Unique Key",ascending=False).head(10)

                             Unique Key
Complaint Type
Noise - Residential                2952
Noise - Street/Sidewalk            2128
HEAT/HOT WATER                     1885
Noise                              1131
Illegal Parking                     792
Noise - Vehicle                     787
Non-Emergency Police Matter         773
Rodent                              691
Illegal Fireworks                   672
UNSANITARY CONDITION                565

In [62]:
top10 = df1.groupby("Complaint Type",as_index = True).size().sort_values(ascending = False).head(10)

In [63]:
top10

Complaint Type
Noise - Residential            2952
Noise - Street/Sidewalk        2128
HEAT/HOT WATER                 1885
Noise                          1131
Illegal Parking                 792
Noise - Vehicle                 787
Non-Emergency Police Matter     773
Rodent                          691
Illegal Fireworks               672
UNSANITARY CONDITION            565
dtype: int64